SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="a8:5e:45:57:65:6c", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="a8:5e:45:57:65:6d", NAME="eth2_5"
